#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000de; /* semi-transparent black */
  display: none; /* hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* ensure it appears above other content */
  
}

#modalImage {
  max-width: 95%;
  max-height: 95%;
  box-shadow: 0 0 10px #ffff;
  cursor: pointer; /* indicate it can be clicked to close */
}

#modalImage:hover {
  transform: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
  background-color: #89CC04;
  color: #ffffff;
}

/* Define separate keyframes for left-to-right and right-to-left animations */
@keyframes shine-right {
  to {
    background-position: 200% center;
  }
}

@keyframes shine-left {
  to {
    background-position: -200% center;
  }
}



@media (max-width: 650px) {
  
.prev {
    background: linear-gradient(to right, #89CC04 20%, #000000 40%, #000000 60%, #000000 80%);
    background-size: 200% auto;
    color: transparent; /* for text gradient effect */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine-right 1s linear infinite; /* custom animation for right movement */
    cursor: none;
    font-size: 30px;
    opacity: 0.5;
  }

  .next {
    background: linear-gradient(to left, #89CC04 20%, #000000 40%, #000000 60%, #000000 80%);
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine-left 1s linear infinite; /* custom animation for left movement */
    cursor: none;
    font-size: 30px;
    opacity: 0.5;
  }
  

  #modalOverlay {
    overflow: hidden;
    touch-action: none;
  }
}






