.video-description-container {
  display: flex;
  align-items: flex-start;
  margin-left: 210px;
  padding-top: 10px;
  gap: 20px;
}

iframe{
  width: 75%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: 12px;
 
}
 

.description{
  background-color: #ffffff;
  width: 21%;
  height: 40%;
  padding-right: 10px;
  font-family: 'Oswald';
  color: #89cc04;
  border-radius: 12px;
  margin-top: 100px; /* moves it down within the container */  border-color: black;
  word-spacing: 2px;

}

.title{
    font-size: 2em;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
    
}

.synopsis {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    display: flex;
}

.release-date{
    font-size: .75em;
    font-weight: normal;
    font-style: italic;
    text-align: right;
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    align-items: flex-end;
}

#teamCards {
  width: calc(100% - 220px);
  margin-top: 80px;
  margin-left: 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
}

/* Optional: style columns */
.column {
  width: 200px;
  display: block;
  height: 300px;
  padding: 50px;
}

/* Add some shadows to create a card effect */
.card {
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  width: 250px;
  height: 300px;
  
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
  text-align: center;
}


.role {
  color: #89cc04;
}

h3.team-title {
  font-family: 'Oswald';
  color: #000000;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  text-decoration: underline;
}

ul.role {
  margin-top: 10px;
  text-align: left;
  list-style-type: circle;

}

a{
  color: #89cc04;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;

}

a:hover {
  color: #000000;
  text-decoration: underline;
}



